* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;

}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  font-size: 24px;
  color: yellow;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

nav a:hover {
  color: yellow;
}

.profile-icon {
  background: black;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

/* Main Layout */
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Left Section */
.left-section {
  flex: 3;
  background: black;
  padding: 20px;
  border-radius: 10px;
}

.left-section h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.left-section h3 {
  color: yellow;
  font-size: 18px;
  margin-bottom: 10px;
}

.time {
  font-size: 13px;
  color: rgb(195, 184, 184);
  margin-bottom: 20px;
}

.job-description h4,
.job-description h5 {
  margin-top: 20px;
  font-size: 16px;
  color: yellow;
}

.job-description ul {
  margin-left: 20px;
  margin-top: 10px;
}

.job-description ul li {
  margin-bottom: 8px;
  font-size: 14px;
}


.buttons {
  margin-top: 20px;
}

.accept,
.decline {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
  font-size: 14px;
}

.accept {
  background-color: yellow;
  color: black;
  margin-bottom: 15px;
}

.decline {
  background-color: transparent;
  color: yellow;
  border: 1px solid yellow;
}


.right-section {
  flex: 1;
  background: black;
  padding: 20px;
  border-radius: 10px;
}

.right-section h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.review {
  margin-bottom: 20px;
}

.stars {
  color: yellow;
  margin-bottom: 5px;
  font-size: 16px;
}

.review p {
  font-size: 14px;
  color: white;
}

.view-more {
  display: block;
  color: yellow;
  text-decoration: none;
  margin-top: 10px;
  font-size: 14px;
}


/* medium */
@media screen and (min-width:480px) {
  body {
    background: linear-gradient(blue, black);
  }

  .time {
    font-size: 13px;
    color: rgb(195, 184, 184);
    margin-bottom: 20px;
  }

  main {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}


/*large*/
@media screen and (min-width:920px) {

  body {
    background: linear-gradient(red, black);

  }

  .time {
    font-size: 13px;
    color: rgb(195, 184, 184);
    margin-bottom: 20px;
  }

  main {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}